acme-system-one-api/src/main/app/acme-system-one-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
">

    <spring:beans>
        <spring:import resource="classpath:common/mule/apikit-exception-strategy.xml"/>
    </spring:beans>

    <apikit:config name="acme-system-one-api-config" raml="acme-system-one-api.raml" consoleEnabled="false"/>

    <flow name="crm-system-capsil-main">
        <http:listener config-ref="api-httpListenerConfig" path="/acme-system-one-api/api/*"/>
        <set-variable variableName="systemName" value="acme-system-one"/>

        <enricher target="#[flowVars['functions']]">
            <parse-template location="common/mappings/Functions.dwlib"/>
        </enricher>

        <apikit:router config-ref="acme-system-one-api-config"/>
        <exception-strategy ref="acme-system-api-apiKitGlobalExceptionMapping"/>
    </flow>

    <flow name="crm-system-capsil-console">
        <http:listener config-ref="api-httpListenerConfig" path="/acme-system-one-api/console/*"/>
        <apikit:console config-ref="acme-system-one-api-config"/>
    </flow>

    <flow name="put:/gadget/{id}:application/json:acme-system-one-api-config">
        <flow-ref name="system-one-gadget-impl.update"/>
    </flow>

    <flow name="post:/gadget:application/json:acme-system-one-api-config">
        <flow-ref name="system-one-gadget-impl.create"/>
    </flow>


</mule>